.label-limit {
  margin-left: 20px;
}

input {
  width: 170px;
  margin: 10px 10px;
}

.btn {
  height: 25px;
  background-color: aqua;
}

.output {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 20px 0;
}

.card {
  width: 220px;
  margin: 25px;
}

.card-result {
  display: block;
	width: 200px;
	height: 150px;
}